# Archivos generados por la compilación
*.rar






# Archivos generados por la compilación
/bin/debug/net8.0-windows/*
/bin/release/*
!/bin/debug/net8.0-windows/sonidos
!/bin/debug/net8.0-windows/jsonDatabase

obj/

# Información de usuario específica de Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos generados por NuGet
*.nupkg
*.snupkg
# Archivos de bloqueo de dependencias
project.lock.json
project.fragment.lock.json
# Paquetes locales o generados
packages/
# Archivos de configuración de NuGet
.nuget/
*.nuget.props
*.nuget.targets

# Archivos de configuración globales
.vscode/
.vs/

# Archivos de compilación y depuración
*.pdb
*.mdb
*.ilk
*.log
*.csproj.user
*.csproj.FileListAbsolute.txt

# Archivos temporales de Visual Studio y del sistema
*.tmp
*.cache
*.log
*.ide

*.lnk
/App.config
