<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionClinicaMedica.Properties.Settings.ClinicaMedicaConnectionString"
			 connectionString="Server=DESKTOP-RJGLD5G;Database=ClinicaMedica;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
