<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MyStringSetting" value="This is my string value from config" />
  </appSettings>
  <connectionStrings>
    <add name="ConexionAClinicaMedica"
         connectionString="Server=JARDIN-MAITEN;Database=ClinicaMedica;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
